@import "../../node_modules/nord/src/sass/nord.scss";

$sailwind_colors: (
  'success': $nord14,
  'primary': $nord8,
  'info': $nord7,
  'warning': $nord13,
  'danger': $nord11,
  'link': $nord9,
);
$sailwind_sizes: 0, 1, 2, 3, 4, 5, 6;
$sailwind_weights: 300, 700;
$sailwind_percents: 25;
$sides: 'top', 'right', 'bottom', 'left';
$sailwind_types: 'success', 'info', 'link', 'warning', 'danger';

