name: Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        
    - name: Install
      run: |
        npm install

    - name: Build
      run: |
        npm run build
    
    - name: Test
      run: |
        npm run test
    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        # files: ./coverage/ # optional
        #flags: unittests # optional
        directory: ./coverage/
        #name: codecov-umbrella # optional
        # fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
